<header class=" nav flex-column navbar-dark bg-dark nav-wrapper" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <nav class="align-self-stretch">
    <div class="nav-link  bg-info">
      <span class="navbar-toggler-icon"></span>
    </div>
    <div class="nav-link text-white">
        <i class="far fa-bookmark"></i>
    </div>
    <div class="nav-link text-white text-center">
      <p>
        <i class="far fa-sitemap"></i>
      </p>
    </div>
    <div class="nav-link text-white">
      <p>
        <i class="far fa-sitemap" aria-hidden="true"></i>
      </p>
    </div>
  </nav>
</header>