<div class="row px-4">
  <div class="col-lg-9 col-md-12 col-sm-12 p-0">
    <div class="bd-callout bd-left bd-callout-warning row e-mx-1 pt-3">

      <div class="col-lg-5 col-md-6 col-sm-12 p-0 pl-2">

        <p class="p-2 mt-2">{{name}}</p>
        <div class="b-t-default p-2">
          <div class="d-flex flex-row align-items-center">
            <div class="p-2 ">
              <i class="far fa-bookmark"></i>
            </div>
            <div class="p-2">
              <div class="d-flex flex-column ">
                <p class="e-title">المسؤول</p>
                <p class="">{{owner}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="b-t-default p-2">
          <div class="row">
            <div class="col-6 d-flex flex-row align-items-center">
              <div class="p-2 ">
                <i class="far fa-bookmark"></i>
              </div>
              <div class="p-2">
                <div class="d-flex flex-column">
                  <p class="e-title">تاريخ البدء</p>
                  <p class="">{{startDate}}</p>
                </div>
              </div>
            </div>

            <div class="col-6 d-flex flex-row align-items-center b-r-default">
              <div class="p-2 ">
                <i class="far fa-bookmark"></i>
              </div>
              <div class="p-2">
                <div class="d-flex flex-column">
                  <p class="e-title">تاريخ الانتهاء</p>
                  <p class="">{{endDate}}</p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="col-lg-7 pl-2 col-md-6 col-sm-12 b-r-default">
        <div class="row text-center" style="min-height: 200px">
          <!-- <button (click)="add()">Add Point!</button> -->
          <div [chart]="chart"></div>
        </div>
        <div class="row">
          <div class="col-3 d-flex px-1 flex-column ">
            <p class="e-title">الفعلي السابق</p>
            <h5 class="">{{oldActual}}</h5>
          </div>

          <div class="col-2 d-flex px-1 flex-column b-r-default">
            <p class="e-title">الفعلي</p>
            <h5 class="">{{achieved}}</h5>
          </div>

          <div class="col-2 d-flex px-1 flex-column b-r-default">
            <p class="e-title">المستهدف</p>
            <h5 class="">{{currentTarget}}</h5>
          </div>

          <div class="col-2 d-flex px-1 flex-column b-r-default">
            <p class="e-title">النتيجة</p>
            <h5 class="">{{((achieved / currentTarget) * 100 ).toFixed(2)}}% </h5>
          </div>

          <div class="col-3 d-flex px-1 flex-column b-r-default">
            <p class="e-title">المستهدف التالي</p>
            <h5 class="">{{nextTarget}}</h5>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-3 col-md-12 col-sm-12">
    <app-projects-initiatives-dashboard [data]="InitiativesAndProjects"></app-projects-initiatives-dashboard>
  </div>

</div>